body {
  margin: 0;
  background: #594A42;
}

* {
  box-sizing: border-box;
}

.chrome {
  background: white;
  max-width: 465px;
  border: solid 1px #aaa;
  margin: auto;
}

.chrome__header__home {
  float: none;
  width: 100%;
}

.chrome__content {
  padding: 3px;
}

.panel,
.chrome__content {
  min-height: 80vh;
  font-family: courier;
}

.chrome__header__home__logo {
  vertical-align: middle;
  width: 100%;
}

.chrome__boot-screen {
  clear: both;
  text-align: left;
}

.chrome__boot-screen__msg {
  margin: 10px 0;
  font-weight: bold;
  font-size: 2em;
}

.chrome__boot-screen__source-link {
  font-size: 0.8em;
  display: block;
}

footer {
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
  margin-top: 20px;
  color: #333;
  border-top: solid 1px #aaa;
  padding-top: 10px;
}

.panel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel {
  position: relative;
  width: 100%;
  line-height: 1.2;
}

.panel__button {
  margin-bottom: 40px;
  width: 200px;
  height: auto !important;
  padding: 12px !important;
}

.panel__break {
  clear: both;
  border-style: dotted;
  border-color: #ccc;
}

.panel__card {
  margin-right: 24px !important;
  margin-bottom: 24px;
  float: left;
}

.panel:not(:target) {
  display: none;
}

.panel:target {
  display: block;
}

.panel__next {
  display: block;
  clear: both;
}

@media all and ( min-width: 500px ) {
  .chrome {
    min-height: 500px;
  }
}