<!DOCTYPE HTML>
<html>
	<head>
		<title>qie qie</title>
		<meta charset="UTF-8">
		<meta name="google-site-verification" content="pLlfk15JNifCKE7gA1YunSblsQy64Szdavj4gaZx4QM" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="index.less">
		<link rel="manifest" href="./manifest.webmanifest" />
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-75478054-3"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-75478054-3');
		</script>
	</head>
	<body>
		<script type="text/javascript">document.body.className = 'client-js';</script>
		<!-- todo: generate static HTML from jsx component -->
		<div class='chrome'>
			<div class='chrome__header'>
				<div class='chrome__header__home'>
					<a href="/">
						<img src='logo.png' alt='Divide and concur'
							width='320'
							class='chrome__header__home__logo'>
					</a>
				</div>
			</div>
			<div class="chrome__content" id="chrome__content__panel-one">
				<!-- PROGRESSBAR-START --><!-- PROGRESSBAR-END -->
				<!-- STORY-PANEL-START --><!-- STORY-PANEL-END -->
			</div>
			<div id="container" class="chrome__content"  style="display: none;">
				<div id="chrome__content__panel-two" style="display: none;">
					<!-- PROGRESSBAR-START --><!-- PROGRESSBAR-END -->
				</div>
			</div>
			<footer>
				<p>
					<a href="http://jdlrobson.com">Jon Robson and Linz Lim's</a>
					<a href="https://qieqie.uk">qie qie</a> a fun way to learn Mandarin
					<span id="version">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<span id="modified"></span></p>
			</footer>
		</div>
	</body>
	<script type="text/javascript" src="src/shims.js"></script>
	<script type="text/javascript" src="src/main.js"></script>
	<script type="text/javascript">
		if ('serviceWorker' in navigator && window.location.host.indexOf('localhost:') === -1) {
			navigator.serviceWorker.register('service-worker.js', {scope: '/'})
			.then(function(reg) {
			  // registration worked
			  console.log('Registration succeeded. Scope is ' + reg.scope);
			}).catch(function(error) {
			  // registration failed
			  console.log('Registration failed with ' + error);
			});
		}
	</script>
</html>
