@cardBorder: 3px;
@cardSize: 95px;
@cardSizeSmall: 60px;

.card {
  transition: 0.6s;
  transform-style: preserve-3d;
  perspective: 1000px;
  width: @cardSize;
  height: @cardSize;
  background: #ccc;
  float: left;
  margin-right: 10px;
  text-align: center;
  position: relative;
  font-size: 0.8em;
  border: solid @cardBorder transparent;
}

.card--large {
  width: @cardSize * 2;
  height: @cardSize * 2;
  font-size: 1.6em;
}

.card--known {
  border: solid @cardBorder green;
  opacity: 0.4;
}

.card--unknown {
  border: solid @cardBorder red;
  opacity: 0.4;
}

.card__front,
.card__back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card__front {
  z-index: 2;
  background: #ccc;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

.card--flipped {
  transform: rotateY(180deg);
}

.card__pinyin,
.card__english {
  font-size: 0.8em;
}

.card__pinyin {
  font-weight: bold;
}

.card--small {
  width: @cardSizeSmall;
  height: @cardSizeSmall;
  margin-right: 5px;
  font-size: 0.7em;
}


.card__difficulty-bar {
  float: left;
  height: 10px;
  width: 100%;
  &:after {
    content: "";
    display: block;
    clear: both;
  }

  div {
    float: left;
    margin-right: 1px;
    width: 10px;
    height: 10px;
    background-color: red;
    &.easy {
      background-color: green;
    }
  }
}

.button {
  cursor: pointer;

  &.pinyin {
    position: absolute;
    right: 10px;
    top: 0;
  }
}

.wrong {
  position: absolute;
  left: 10px;
  bottom: 0;
}

.tick {
  position: absolute;
  right: 10px;
  bottom: 0;
}

.card__label {
  font-size: 2.5em;
  font-weight: bold;
}

.card__label--long {
  font-size: 2em;
}

@media all and ( min-width: 500px ) {
  .card {
    width: @cardSize + 50;
    height: @cardSize + 30;
    font-size: 1em;
  }
  .card--small {
    font-size: 0.7em;
    width: @cardSizeSmall;
    height: @cardSizeSmall;
  }
}