@app-width: 465px;

@cardBorder: 3px;
// Maximum 102px for iPhone 5
@cardSize: 102px;
@card-vertical-gutter: 10px;
@cardSizeLarge: @cardSize + 35;
@cardSizeSmall: @cardSizeLarge / 2;
@card-gutter: 2px;
@card-border-width: 3px;

@someday-orange: #ffd666;
@someday-blue: #3aaaa8;
@daily-dose-of-brown: #594A42;
