@cardBorder: 3px;
@cardSize: 112px;
@card-vertical-gutter: 10px;
@cardSizeLarge: @cardSize + 35;
@cardSizeSmall: (@cardSizeLarge / 2 ) - @card-gutter;
@card-gutter: 2px;
@card-border-width: 3px;

@someday-orange: #ffd666;
