@import "./Card/variables.less";

.app__content {
  clear: both;
  .card {
    margin-top: @card-gutter;
  }
}

.app__component--floated {
  float: left;
  margin: 0 10px 10px 0;
  &:last-child {
    margin-right: 0;
  }
}

/* Game */
.game__history-header {
  float: left;
  width: 100%;
  clear: both;
}

/* GameMatchPairs */
.game-match-pairs__end-marker {
  clear: both;
}

