body {
  margin: 0;
  background: #ffcf5b;
}

/* Game */
.game__history-header {
  float: left;
  width: 100%;
  clear: both;
}

/* App */
@app-width: 500px;

.app {
  background: white;
  max-width: @app-width;
  border: solid 1px #aaa;
  margin: auto;
  padding: 8px;
}

.app__component--floated {
  float: left;
  margin: 0 10px 10px 0;
  &:last-child {
    margin-right: 0;
  }
}

/* GameMatchPairs */
.game-match-pairs {
  max-width: 500px
}
.game-match-pairs__end-marker {
  clear: both;
}

@media all and ( min-width: 500px ) {
  .app {
    min-height: 500px;
  }
}
