@import './variables.less';

.game-match-pairs {
  margin: 10px 0;
}

.game-match-pairs__expand {
  display: inline;
}

.game-match-pairs__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-column-gap: @card-gutter;
  grid-row-gap: @card-gutter;
  width: (@cardSize * 3) + ( 2 * @card-gutter );
  margin: auto;
}

.game-match-pairs__hint {
  grid-column: 1 e('/') 4;
  text-align: center;
  color: @someday-blue;
  text-transform: uppercase;
  font-size: 1.1em;
  font-family: Courier;
}

.game-match-pairs__cards--grid-small {
  grid-template-columns: 1fr 1fr;
  width: (@cardSize * 2) + @card-gutter;
}

.game-match-pairs__cards--single {
  width: @cardSize;
}

.game-match-pairs__countdown {
  position: absolute;
  top: 20px;
  font-size: 100px;
  color: #333;
  left: 50%;
  margin-left: -36px;
  top: 40%;
  z-index: @z-index-overlay - 1;
}

.game-match-pairs__cards {
  opacity: 1;
}

.game-match-pairs__countdown {
  transition: opacity 1.5s;
}
.game-match-pairs__countdown--hiding {
  opacity: 0;
}

.game-match-pairs__countdown--hidden {
  display: none;
}

.game-match-pairs__cards--countdown {
  opacity: 0.3;
  transition: opacity 1.5s;
}

.game-match-pairs__card,
.game-match-pairs__card--pending {
  transition: 0.6s;
}
