@import './../Card/variables.less';
.game-decompose__end-marker {
  clear: both;
}

.game-decompose__choices {
	width: (@cardSizeSmall * 2) + 10px;
	float: left;
}

@media all and (min-width: 500px) {
	.game-decompose__choices {
		width: ((@cardSizeSmall * 2) * 2) + 20px;
	}
}
