@import './../variables.less';

.pane-position-bar {
  display: inline-block;
}

.panel p {
  margin: auto;
  padding: 8px 30px;
}
.pane-position-bar__circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #d2c9b5;
  margin-right: 10px;
}

.pane-position-bar__circle--active {
  background: white;
}

.panel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel {
  position: relative;
  width: 100%;
  line-height: 1.2;
}

.panel__button {
  margin-bottom: 40px;
  width: 200px;
  height: auto !important;
  padding: 12px !important;
}

.panel__break {
  clear: both;
  border-style: dotted;
  border-color: #ccc;
}

.panel__card {
  float: left;
}

.panel:not(:target) {
  display: none;
}

.panel:target {
  display: block;
}

.panel__next {
  margin-top: 10px;
  display: block;
  z-index: 2;
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding: 10px;
  background: @boquete-light;
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.panel__highlighted-text {
  background: fadeout(@someday-blue,0.5);
  padding: 3px 5px;
  margin: -3px -5px;
  line-height: 1.7;
  border-radius: 3px;
  color: white;
}

.panel__next--fixed {
  position: fixed;
  padding: 20px;
}
