@app-width: 500px;
@app-overlay-gutter: 10px;

.app__overlay__link {
  text-align: center;
  display: block;
  margin-top: 8px;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9em;
	&:hover {
		text-decoration: underline;
	}
}

.app__overlay {
  padding-top: 10px;
  margin: auto;
  border: solid 2px #333;
  max-width: @app-width - @app-overlay-gutter - @app-overlay-gutter;
  background: white;
  z-index: 2;
  left: @app-overlay-gutter;
  right: @app-overlay-gutter;
  top: @app-overlay-gutter;
  position: fixed;
  bottom: 10px;
  overflow: hidden;
  text-align: center;
}

.app__overlay h2 {
  padding: 0;
  margin: 8px 0;
}

.tabgroup__tab {
  display: inline-block;
  margin: 8px;
  border-bottom: solid 1px #aaa;
  padding-bottom: 8px;

  &:hover {
    border-bottom-color: #333;
  }
}

.tabgroup__tab--active {
  font-weight: bold;
  border-bottom-color: #333;
}

.translations {
  text-align: left;
}

.app__overlay__blurb,
.app__overlay > .app__overlay__decompositions {
  text-align: center;
  margin-top: 10px;
  overflow: scroll;
}

.app__overlay__decompositions__card {
  float: none;
  display: inline-block;
}

.app__overlay__button {
  width: 80%;
  height: 35px;
  margin: 10px auto;
}

.app__overlay__card {
  margin: auto;
  float: none;
}
