@import './../variables';

.app__overlay__link {
  text-align: center;
  display: block;
  margin-top: 8px;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9em;
	&:hover {
		text-decoration: underline;
	}
}

.translations,
.decompositions {
  text-align: center;
}

.tabgroup__tab {
  display: inline-block;
  margin: 8px;
  border-bottom: solid 1px #aaa;
  padding-bottom: 8px;

  &:hover {
    border-bottom-color: #333;
  }
}

.tabgroup__tab--active {
  font-weight: bold;
  border-bottom-color: #333;
}

.translations {
  text-align: left;
  margin: auto;
  width: 320px;
}

.app__overlay__blurb,
.app__overlay > .app__overlay__decompositions {
  text-align: center;
  margin-top: 10px;
  overflow: scroll;
}

.app__overlay__decompositions__card {
  float: none;
  display: inline-block;
}

.app__overlay__button {
  width: 80%;
  height: 35px;
  margin: 10px auto;
}

.app__overlay__card {
  margin: auto;
  float: none;
}
